html {
    scroll-behavior: smooth;
}

a {
    color: inherit;
}

body, html {
    font-family: "Cairo";

    /* scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory; */
}

.italic {
    font-style: italic;
}

header {
    text-align: right;
}

header a {
    color: inherit;
    margin-right: 15px;
}

footer {
    text-align: center;
}

footer a {
    color: inherit;
    margin-right: 15px;
}

.span-link {
    text-decoration: underline;
    cursor: pointer;
}

/* .snap-start {
    scroll-snap-align: start;
}

.snap-end {
    scroll-snap-align: end;
}

.snap {
    scroll-snap-align: start end;
} */

.full-page {
    min-height: 100vh;
    min-width: 100vw;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {
    flex-direction: column;
    width: 100vw;
    text-overflow: clip;

    /* font-size: 20px; */
}

.hero-title {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.fade-on-scroll {
    opacity: 0;
}

.animate-opacity {
    transition: opacity 3s ease;
    opacity: 1;
}

.hero-title h1 {
    /* to have sine wave behind it */
    position: absolute;
    /* z-index: 1; */
}

.hero-title #sineCanvas {
    opacity: 0.1;
}

.hero-title hr {
    border: 0;
    clear:both;
    display:block;
    background-color:gray;
    height: 1px;
    width: 25%;
    /* width: 350px; */

    margin-left: 20px;
    margin-right: 20px;
}

.sine-icon {
    position: absolute;
    
    height: 30px;
    width: 30px;

    bottom: 0;
}

/* .content-page {
    display: flex;
    flex-direction: row;
} */

.content-page-left {
    height: 100vh;
    width: 40%;
    float: left;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.content-page-left h1 {
    /* font-size: 150px; */
    font-size: 9.5vw;
    line-height: 150%;
    overflow-wrap: break-word;
}

.content-page-right {
    height: 100vh;
    width: 60%;
    float: right;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    position: relative;
}

.content-block {
    max-width: 100%;
    /* font-size: 90px; */
    font-size: 6vw;
    opacity: 0.1;
}

.content-block:hover {
    opacity: 1;
}

.content-block a {
    text-decoration: none;
    color: inherit;
}

.cv-entry-title {
    display: flex;
}

.cv-entry-title-right {
    font-style: italic;
    margin-left: auto;
    order: 2;
    margin-right: 1vw;
}

.cv-page-selector {
    position: absolute;
    bottom: 5em;
}

.hidden-600px {
    display: none;
}

@media (max-width: 600px) {
    .hidden-600px {
        display: initial;
    }

    .visible-600px {
        display: none;
    }

    .content-page-left {
        height: 100vh;
        max-width: 25%;
    }

    .content-page-left h1 {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        font-size: 9vh;

        margin-left: 0;
        margin-right: 0;
    }

    .content-page-right {
        height: 100vh;
        max-width: 75%;
    }

    .content-block {
        font-size: 7.5vh;
    }
}

@media (max-width: 550px) { 
    .hero-title hr {
        width: 10%;
    }

    .hero-title h1 {
        /* position: relative; */
        /* z-index: 1; */
    }

    /* .mobile-hidden {
        width: 0;
        height: 0;
        visibility: hidden;
    } */

    html, body {
        scroll-snap-type: initial;
        scroll-snap-points-y: initial;
        scroll-snap-type: initial;
    }
}

/* Copied from https://www.w3schools.com/howto/howto_css_modals.asp */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
