html {
    scroll-behavior: smooth;
  }

body {
    font-family: "Cairo";
}

.italic {
    font-style: italic;
}

header {
    text-align: right;
}

header a {
    color: inherit;
    margin-right: 15px;
}

footer {
    text-align: center;
}

footer a {
    color: inherit;
    margin-right: 15px;
}

.span-link {
    text-decoration: underline;
    cursor: pointer;
}

.full-page {
    min-height: 100vh;
    /* min-width: 100%; */
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {
    flex-direction: column;
    width: 100vw;
    text-overflow: clip;

    /* font-size: 20px; */
}

.hero-title {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.fade-on-scroll {
    opacity: 0;
}

.animate-opacity {
    transition: opacity 3s ease;
    opacity: 1;
}

.hero-title h1 {
    /* to have sine wave behind it */
    position: absolute;
    /* z-index: 1; */
}

.hero-title #sineCanvas {
    opacity: 0.1;
}

.hero-title hr {
    border: 0;
    clear:both;
    display:block;
    background-color:gray;
    height: 1px;
    width: 25%;
    /* width: 350px; */

    margin-left: 20px;
    margin-right: 20px;
}

.sine-icon {
    position: absolute;
    
    height: 30px;
    width: 30px;

    bottom: 0;
}

/* .content-page {
    display: flex;
    flex-direction: row;
} */

.content-page-left {
    height: 100vh;
    width: 40%;
    float: left;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.content-page-left h1 {
    /* font-size: 150px; */
    font-size: 10vw;
    line-height: 150%;
    overflow-wrap: break-word;
}

.content-page-right {
    height: 100vh;
    width: 60%;
    float: right;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.content-block {
    max-width: 100%;
    /* font-size: 90px; */
    font-size: 6vw;
    opacity: 0.1;
}

.content-block:hover {
    opacity: 1;
}

.content-block a {
    text-decoration: none;
    color: inherit;
}

.hidden-600px {
    width: 0;
    height: 0;
    visibility: hidden;
}

@media (max-width: 600px) {
    .hidden-600px {
        width: initial;
        height: initial;
        visibility: initial;
    }

    .visible-600px {
        width: 0;
        height: 0;
        visibility: hidden;
    }

    .content-page-left {
        height: 100vh;
        max-width: 20%;
    }

    .content-page-left h1 {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        font-size: 9vh;

        margin-left: 0;
        margin-right: 0;
    }

    .content-page-right {
        height: 100vh;
        max-width: 80%;
    }

    .content-block {
        font-size: 7.5vh;
    }
}

@media (max-width: 550px) { 
    .hero-title hr {
        width: 10%;
    }

    .hero-title h1 {
        /* position: relative; */
        /* z-index: 1; */
    }

    /* .mobile-hidden {
        width: 0;
        height: 0;
        visibility: hidden;
    } */
}
